<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitShot.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TwitShot.API.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>36a58af79ee09bd700458cde8c7b268a</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>wFvwVRWwkmUd1YMk7BuCQ</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>6ylZyzdLoTaNfNPhB1t0oQpqhuvLTyu9aMXVLGkm5I</value>
            </setting>
        </TwitShot.API.Properties.Settings>
    </applicationSettings>
</configuration>